{{#each this}}
    <h2 class="country-name">{{name}}</h2>
    <div class="country-box">
        <img src="{{flag}}" alt="Флаг государства {{name}}" class="country-image">
        <div class="country-meta">
            <p class="country-tag">Capital: <span class="country-text">{{capital}}</span></p>
            
            <p class="country-tag">Population: <span class="country-text">{{population}}</span></p>
            
            <p class="country-tag">Languages:</p>
            <ul class="country-langs">
                {{#each languages}}
                <li class="country-text">{{this.name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/each}}
